version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: floosflow
      POSTGRES_PASSWORD: floosflow
      POSTGRES_DB: floosflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
    ports:
      - "4000:5000"
    environment:
      DATABASE_URL: postgresql://floosflow:floosflow@postgres:5432/floosflow
      JWT_SECRET: change_this_jwt_secret_in_production
      NODE_ENV: production
      PORT: 5000
      FRONTEND_URL: http://localhost:3100
    depends_on:
      - postgres

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "3100:3000"
    environment:
      VITE_API_URL: http://localhost:4000/api
    depends_on:
      - backend

volumes:
  postgres_data: